.black-border {
  box-shadow:inset 0px 0px 0px 2px #000;
  width: 38px;
  background: #ffffff;
  padding: 10px;
  height: 100%;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.blue {
  color: blue;
}

.room-below {
  margin-bottom: 10px;
}

.less-room-below {
  margin-bottom: 5px;
}

.space-below {
  margin-bottom: 25px;
}

.wide-enough {
  width: 100%;
}

.card-style {
  width: 100%;
  font-size: 8pt;
  padding: -5px;

  /*position: relative;*/
  /*display: -ms-flexbox;
  display: flex;*/
  /*-ms-flex-direction: column;
  flex-direction: column;*/
  /*min-width: 0;*/
  /*word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;*/
  /*border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;*/
}

.smaller-title {
  font-size: 10pt;
}

.centered {
  text-align: center;
}